<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite" parallel="tests">
  <test name="ChromeTest">
      <parameter name="browser" value="chrome"/>
    <classes>
      <class name="Final"/>
    </classes>
  </test> <!-- Test -->
  <test name="FirefoxTest">
      <parameter name="browser" value="firefox"/>
    <classes>
      <class name="Final"/>
    </classes>
  </test>
  <test name="IETest">
      <parameter name="browser" value="IE"/>
    <classes>
      <class name="Final"/>
    </classes>
  </test>
</suite> <!-- Suite -->
